[entrypoint]
main = "backend/server.js"

[packager]
language = "nodejs"
[packager.features]
packageSearch = true

[deployment]
run = ["npm", "start"]
build = ["npm", "install"]

[env]
NODE_ENV = "production"
PORT = "3000"
